@import "tailwindcss";

:root {
  --fondo:      #11102e;
  --blu:        #2E2AB5;
  --darkblu:    #1b1872;
  --lavanda:    #B9A8E6;
  --corallo:    #EF6C4E;
  --crema:      #F6ECD8;
}

@theme inline {
  --color-background: var(--fondo);
  --color-foreground: var(--crema);
  --color-brand-fondo: var(--fondo);
  --color-brand-blu: var(--blu);
  --color-brand-darkblu: var(--darkblu);
  --color-brand-lavanda: var(--lavanda);
  --color-brand-corallo: var(--corallo);
  --color-brand-crema: var(--crema);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--fondo);
  color: var(--crema);
  font-family: Arial, Helvetica, sans-serif;
}
